<!DOCTYPE html>
<html lang="ja">
<head>
  <title>
    雑貨チェーン店の勢力分布図
  </title>
  <meta property="og:title" content="オープンソース雑貨チェーン店の勢力分布図">
  <meta property="og:description" content="日本地図に雑貨チェーン店の出店場所を表示する">
  <meta property="og:image" content="https://gangduo.github.io/chain-store-growth/css/demo.png">
  <meta property="og:url" content="https://gangduo.github.io/chain-store-growth/">
  <meta name="twitter:card" content="summary_large_image">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="日本地図に雑貨チェーン店の出店場所を表示する">
  <meta name="keywords" content="オープンソース,雑貨店,勢力分布図">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="css/favicon.png">
</head>
<body>
<main class="main-content" id="app">
  <a href="https://github.com/gangduo/chain-store-growth" class="github-corner" aria-label="View source on GitHub" target="_blank">
    <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#70B7FD; color:#fff; position: absolute; top: 0; border: 0; right: 0;z-index: 100;" aria-hidden="true">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
      <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
      <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
    </svg>
  </a>
  <section class="section">
    <div class="container">
      <h1 id="main-title" class="text-center">勢力分布図</h1>
      <div class="card border">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <label for="">データセット</label>
              <table class="table table-bordered">
                <tbody>
                  <tr v-for="source in sources" :key="source.id" class="brand-name" :style="'--brand-main-color: ' + source.brandColor">
                  <td>
                    <a style="display: block;" href="#" @click.prevent="loadSource(source)">
                      <img width="100%" height="30" style="object-fit: contain;" :src="source.logo"/></a>
                  </td>
                </tr>
                </tbody>
              </table>

              <form @submit="checkForm">
                <div v-if="errors.length">
                  <b>Please correct the following error(s):</b>
                  <ul>
                    <li v-for="error in errors">(( error ))</li>
                  </ul>
                </div>
                <div class="form-group text-center">
                  <button type="button" v-if="!tsv_data" class="btn btn-outline-primary disabled">データを読み込んで下さい</button>
                  <button type="submit" v-if="tsv_data" class="btn btn-primary">侵攻開始</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div id="chart-card" class="card">
        <div class="card-body position-relative">
          <div class="text-right mb-4">
            <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="stopGrowth">Stop</button>
            <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="checkForm">Restart</button>
          </div>
          <h5 class="card-title" id="graph-title">{{title}}<span class="tally-counter" style="margin-left: 10px;"></span></h5>
          <div id="chartDiv" class="svg-container"></div>
          <p style="position:absolute;top:50%;left:50%;font-size:1.125rem;transform: translate(-50%,-50%)" v-if="!tsv_data">データを読み込んで下さい</p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="page-footer font-small indigo">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">外部リンク</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://ktgis.net/gcode/geocoding.html" target="_blank">Geocoding and Mapping</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://gangduo.github.io/chain-store-growth/"> 雑貨チェーン店の勢力分布図</a>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/topojson@3"></script>
<script src="js/chain-store-growth.js"></script>
<script>
  const app = new Vue({
      el: '#app',
      data: {
          errors: [],
          tsv_data: null,
          interval: null,
          title: "",
          sources: [
            ["loft",           "#fdd000", "ロフト"],
            ["humptydumpty",   "#f3d4d8", "ハンプティーダンプティー"],
            ["aming",          "#64857a", "アミング"],
            ["quatre-saisons", "",        "キャトル・セゾン"],
            ["on-seven-days",  "",        "オンセブンデイズ"],
            ["roompastel",     "#5cc2e9", "ルームパステル"],
          ].map(x => {
            return {
              className: x[0],
              name: x[2],
              brandColor: x[1],
              logo: `css/logo-${x[0]}.png`,
              data: `datasets/sl-${x[0]}.tsv`
            }
          })
      },
      methods: {
          loadSource: function(source) {
            const self = this
            Papa.parse(source.data, {
              download: true,
              header: true,
              skipEmptyLines: true,
              error: function(err) {
                  self.tsv_data = ''
                  alert(err)
              },
              complete: function (results) {
                  self.tsv_data = results.data;
                  self.title = source.name
                  document.querySelector('#graph-title .tally-counter').textContent = ''
              }
            })
          },
          stopGrowth: function() {
              if (!this.interval) {
                  return
              }
              this.interval.stop()
          },
          checkForm: function (e) {
              const self = this;
              if (self.interval !== null) {
                  self.interval.stop()
              }
              self.errors = [];
              if (!self.tsv_data) {
                  self.errors.push('csv file is required');
                  return
              }
              createChainStoreGrowth(self.tsv_data).then(interval => {
                self.interval = interval
                console.log(self.interval)
              })
              e.preventDefault();
              window.scrollTo({top: $("#chart-card").offset().top - 10, behavior: 'smooth'});
          },
      }
  });
</script>
</body>
</html>